{{ define "main" }}

    <section class="section section--menu narrow">
        {{ partial "menus/main.html" . }}
    </section>

    <section class="section section--post narrow">

        {{ partial "article/progress" . }}

        {{ partial "article/hero.html" . }}

        <article id="articleContent" class="post-content" style="position:relative">
            {{ .Content }}
        </article>


        {{/* partial "article/next.html" . */}}
        <div class="spacer" style="height:200px"></div>
    </section>

    {{ $script := resources.Get "js/progressBar.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
{{ end }}
