.articles-gradient {
  position:           absolute;
  bottom:             0;
  left:               0;
  width:              100%;
  height:             590px;
  z-index:            0;
  pointer-events:     none;
  background:         var(--gradient);
  -webkit-transition: var(--color-mode-transition);
  -o-transition:      var(--color-mode-transition);
  transition:         var(--color-mode-transition);
}

.articles-paginator {
  margin-top: 95px;
}

.home-sections {
  & h2 {
    font-size: 5rem;
  }

  & h4 {
    font-size: 2rem;
  }

  .section > div {
    margin-bottom: 4rem;
  }

  @media screen and (min-width: $desktop) {
    & > .section {
      &:first-child {
        margin-top: 5rem;
      }

      &:nth-child(n+2) {
        margin-top:    10rem;
        margin-bottom: 10rem;
      }

    }
  }
}

.home-hero {
  width:               100%;
  height:              calc(100vh - 20rem);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.home__list {
  list-style:   none;
  padding-left: 0;
}

.home__list .list__list-item {
  display:     flex;
  align-items: center;

  &::before {
    content: unset;
  }
}

.home__list .list-item__icon {
  width:        8rem;
  height:       auto;
  margin-right: 2rem;
}

.home__list .list__list-item {
}
