{{ define "main" }}

    <section class="section section--menu section--home">
        {{ partial "menus/main.html" . }}
    </section>

    {{ if .Params.visual }}
        <div class="home-hero" style="background-image:url({{ .Params.visual }})"></div>
    {{ end }}

    <div class="home-sections">
        {{ range (where .Site.RegularPages.ByTitle "Section" "home" ) }}
            <section class="section section--home">
                <header class="section__header">
                    <h4 class="section__title">{{ .Params.section_headline }}</h4>
                </header>

                <div class="section__content-wrapper">
                    {{ with .Params.visual }}
                        <div class="section__media">
                            <img src="{{ . }}" alt="">
                        </div>
                    {{ end }}

                    <div class="section__content">
                        {{ .Content }}
                    </div>
                </div>
            </section>
        {{ end }}
    </div>

    {{ partial "articles/hero.html" . }}

    {{ partial "articles/articles.html" . }}
{{ end }}
